/EnergyDensityQuantity.class
/LimeRequirementQuantity.class
/MoneyQuantity.class
/NumberOfSeedsQuantity.class
/PersistenceInterface.class
/SoilMineralQuantity.class
/SpecificEnergyQuantity.class
/UserDefinedVolumeQuantity.class
